# RandomUser + Fruityvice + OpenJoke

In [10]:
from randomuser import RandomUser  # Librería que genera usuarios falsos
import pandas as pd                # Para trabajar con tablas (DataFrame)

### We create a RandomUser object

In [ ]:
r = RandomUser()  # We created a fake user generator

### Generar varios usuarios

In [ ]:
users = r.generate_users(5)  # Generate a list with 5 fake users
print(users)                 # Shows the list (not very readable yet)

[<randomuser.RandomUser object at 0x1076faad0>, <randomuser.RandomUser object at 0x1076fa5d0>, <randomuser.RandomUser object at 0x1233103e0>, <randomuser.RandomUser object at 0x123310510>, <randomuser.RandomUser object at 0x12319e690>]

### See the name of each user

In [ ]:
for user in users:                                       # We go through each user
    print(user.get_full_name(), " - ", user.get_email())  # We print full name and email

Darko Ott  -  darko.ott@example.com
Sofie Nielsen  -  sofie.nielsen@example.com
Sai Deenen  -  sai.deenen@example.com
Felix Larsen  -  felix.larsen@example.com
Dennis Weißer  -  dennis.weisser@example.com

### Pasa los usuarios a la tabla (DataFrame)

In [ ]:
data = [] # Empty list where we will save dictionaries (each user)

for user in users:
    data.append({                            # We add a dictionary for each user
        "name": user.get_full_name(),       # Full name
        "email": user.get_email(),          # Email
        "gender": user.get_gender(),        # Gender
        "city": user.get_city(),            # City
        "country": user.get_country()       # Country
    })

df = pd.DataFrame(data)  # We convert the list of dictionaries into a table 
df                       # In Jupyter it shows the table

            name                       email  gender        city      country
0      Darko Ott       darko.ott@example.com    male     Meterik  Netherlands
1  Sofie Nielsen   sofie.nielsen@example.com  female     Gjerlev      Denmark
2     Sai Deenen      sai.deenen@example.com    male    Ransdorp  Netherlands
3   Felix Larsen    felix.larsen@example.com    male  Sommersted      Denmark
4  Dennis Weißer  dennis.weisser@example.com    male     Widdern      Germany

## Fruityvice API – fruit info with requests

In [ ]:
import requests 
import pandas as pd

### URL de la API de frutas

In [ ]:
url = "https://www.fruityvice.com/api/fruit/all"  # Returns information about many fruits in JSON

### Hacer peticion

In [ ]:
response = requests.get(url)  
print(response.status_code)   # 200 = all correct

200

### Convert to python

In [ ]:
fruits_data = response.json()  # Convierte el JSON en lista/diccionarios de Python
print(fruits_data[:2])       # (opcional) ver las primeras frutas

### Transform to Dataframe

In [ ]:
df_fruits = pd.DataFrame(fruits_data)  
df_fruits.head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

### Delete columns that I don't need

In [ ]:
df_fruits_simple = df_fruits.drop(columns=["id"], errors="ignore") # Delete the 'id' column if it exists
df_fruits_simple.head()

,name,family,order,genus,nutritions
0,Persimmon,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

## Open Joke API – random jokes

In [ ]:
import requests  # In case you didn't have it imported into another cell

### Jokes API URL

In [ ]:
url_joke = "https://official-joke-api.appspot.com/jokes/random"  # Returns a random joke in JSON

### Make the request

In [ ]:
res = requests.get(url_joke)   #  We ask for a joke
print(res.status_code)         #  200 = OK

200

### Read JSON

In [ ]:
joke = res.json()   # We convert the answer to dictionary
print(joke)         # We see what fields it comes with (setup, punchline, etc.)

{'type': 'programming', 'setup': 'What goes after USA?', 'punchline': 'USB.', 'id': 383}

### Show The Nice Joke

In [ ]:
print("Chiste:", joke["setup"])       
print("Respuesta:", joke["punchline"])

Chiste: What goes after USA?
Respuesta: USB.

## Final example: JSON → DataFrame → Delete columns


##### Imagine that you have a list of dictionaries as it comes from an API:

In [30]:
data_example = [
    {"name": "Apple", "type": "fruit", "id": 1, "calories": 52},
    {"name": "Banana", "type": "fruit", "id": 2, "calories": 89},
    {"name": "Carrot", "type": "vegetable", "id": 3, "calories": 41}
]


### We create a table with the data

In [ ]:
df_example = pd.DataFrame(data_example)  # We create a table with the data
df_example

     name       type  id  calories
0   Apple      fruit   1        52
1  Banana      fruit   2        89
2  Carrot  vegetable   3        41

### We delete the type and id column

In [35]:
df_clean = df_example.drop(columns=["type", "id"])  # Eliminamos columnas que no nos interesan
df_clean                                           # Ahora solo quedan name y calories

     name  calories
0   Apple        52
1  Banana        89
2  Carrot        41